%h2 Create a new link

- if @item.errors.any?
  %p
    Something went wrong:
    %ul
      - @item.errors.messages.each do |field, errors|
        %li
          = field
          = errors.to_sentence

%p
  = form_for @item do |form|
    %p
      = form.label :url, "Full URL:"
      = form.text_field :url

    %p
      = fields_for @link do |link_form|
        = link_form.label :label, "http://hellolocker.com/"
        = link_form.text_field :label

    = form.submit "Create"
